################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hackathon/obj
/.vs/Hackathon/FileContentIndex
/.vs
